### Results
Blur - ✅
Original audio - ✅
Saving files and Uploading files - ✅
Music longer than video (Should cut to the video length) - ✅
Music shorter than video (Should loop) - ✅ 
